<%= simple_form_for @project do |f| %>
  <%= f.input :name, :hint => 'The title of your project' %>
  <ul class='nav nav-tabs' role='tablist'>
    <li class='active'>
      <%= link_to 'Tasks (:has_many --nested)', '#tasks', data: {toggle:'tab'}%>
    </li>
    <li>
      <%= link_to 'People (:has_many)', '#people', data: {toggle:'tab'}%>
    </li>
    <li>
      <%= link_to 'Owner (:belongs_to)', '#owner', data: {toggle:'tab'}%>
    </li>
    <li>
      <%= link_to 'Tags (:has_many :through)', '#tags', data: {toggle:'tab'}%>
    </li>
  </ul>

  <!-- more here -->

<% end %>